<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Fehler</h2>	
	
	<p class="desc">	        
	   Bei dem Aufruf der Seite kam es zu einem Fehler. (Fehlercode: {{=errornum}}). 
	</p>
    </div>
    <div class="extra code{{=errornum}}">

	
	<p>
	   Hier ist ein Fehler passiert. Das tut uns leid!	</p>
	<p>
	
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-irrtum.jpg" alt="Symbolbild: Man sieht jemand mit einem Stift das Wort Irrtum schreiben." width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/phil-irrtum-480x360.jpg 480w, {{=imgpath}}img/phil-irrtum.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	    Wir bitten Sie, uns diesen Irrtum nachzusehen – und laden Sie gleichzeitig ein, tiefer in die Welt der Irrtümer einzutauchen: zum Beispiel mit dem FAU-Forschungsprojekt <a href="https://cris.fau.de/converis/portal/publication/246390570">Literarische Irrtümer. Figurationen des Irrtums in der skandinavischen Literatur</a>.
	    Denn dem Irrtum als <em>ungeplanter Abweichung vom Erwarteten</em> wohnt auch ein produktives Potenzial inne.
	</p>
	    
    </div>
</div>