<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Error</h2>	
	
	<p class="desc">	        
	  An error occured. (Code {{=errornum}}). 
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
	    Or, as you might hear if you venture out into Oberkrumbach, a small village in the depths of Franconia <em lang="de">Des homa weggrammt!</em>
	</p><p>
This is just one of the many gems to be found in the Franconian dictionary, the Fränkische Wörterbuch (WBF), that FAU is compiling together with the Bavarian Academy of Sciences and Humanities. For this new online dictionary, researchers are gathering, documenting and describing words and phrases peculiar to the Bavarian districts of Upper, Middle and Lower Franconia.
</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-wbf.jpg" alt="Symbolbild für das Fränkische Wörterbuch: Ein aufgeschlagenes Buch"width="1200" height="775"  loading="lazy" srcset="{{=imgpath}}img/phil-wbf-480x310.jpg 480w, {{=imgpath}}img/phil-wbf.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Pixabay</figcaption>
		
	</figure>
	<p>
	    
	    The WBF is still a work in progress, but you can have a sneak preview at: <a href="https://lexhelfer.wbf.badw.de">https://lexhelfer.wbf.badw.de</a>.
	    Responsible for the WBF at FAU is Prof. Dr. Mechthild Habermann, Chair of <a href="https://www.germanistik.phil.fau.de/faecher/sprachwissenschaft/lehrstuhl-fuer-germanistische-sprachwissenschaft/">German Linguistics</a>.

	    
		</p>
	    
    </div>
</div>