<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Error</h2>	
	
	<p class="desc">	        
	  An error occured. (Code {{=errornum}}). 
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
Unfortunately an error has occurred and the page you are looking for is not available (any more). Errors do happen, but they can lead to a positive turn of events. 
One such story is told by the Arabian scholar Ibn Khallikan, telling how the astrolabe was invented after what at first seemed a stroke of bad luck.</p>
	<p>
	
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-astrolabium.jpg" alt="Foto eines Astrolabiums" width="1200" height="798"  loading="lazy" srcset="{{=imgpath}}img/phil-astrolabium-480x319.jpg 480w, {{=imgpath}}img/phil-astrolabium.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Pixabay</figcaption>
		
	</figure>
	<p>
The astrolabe is a versatile instrument used by astronomers, astrologers and mathematicians to make astronomical measurements and other calculations until well into the modern period. It looks like a two-dimensional model of the three-dimensional celestial sphere and it was invented as follows, so the story goes: Ptolemy, a famous astrologer and astronomer who lived in Alexandria in the 2nd century, suffered a mishap. Whilst riding on a donkey, he dropped an armillary sphere, a three dimensional model of the globe. According to legend, the donkey trod on the sphere, making a two dimensional version of the original three dimensional globe. 
The astrolabe was <em>invented</em>.	</p>
	<p>
	    Research into pre-modern astronomy and astrology in societies influenced by Islam is being carried out by Petra Schmidl at the International Consortium for Research in the Humanities <a href="https://www.ikgf.fau.de/people/index.shtml/petra-schmidl.shtml">Fate, Freedom and Prognostication. Strategies for Coping with the Future in East Asia and Europe</a>.

	</p>
	    
    </div>
</div>