<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Error</h2>	
	
	<p class="desc">	        
	  An error occured. (Code {{=errornum}}). 
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
	An error has occurred. We are sorry!	</p>
	<p>
	
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-irrtum.jpg" alt="Symbolbild: Man sieht jemand mit einem Stift das Wort Irrtum schreiben." width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/phil-irrtum-480x360.jpg 480w, {{=imgpath}}img/phil-irrtum.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	    We would ask you to forgive us our error, and invite you to take a closer look at the world of errors, for example in the FAU research project <a href="https://cris.fau.de/converis/portal/publication/246390570">Literary error. Figurations of error in Scandinavian literature.</a>
	    After all, if error is <em>an unplanned deviation from the expected</em>, then it also has the potential to become something productive.


	  
	</p>
	    
    </div>
</div>