<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Fehler</h2>	
	
	<p class="desc">	        
	   Bei dem Aufruf der Seite kam es zu einem Fehler. (Fehlercode: {{=errornum}}). 
	</p>
    </div>
    <div class="extra code{{=errornum}}">

	
	<p>
	  Leider ist uns hier ein Fehler unterlaufen, und die gesuchte Seite befindet sich nicht (mehr) an dieser Stelle. 
	  Fehler passieren und können auch etwas Gutes hervorbringen: So ist zum Beispiel eine Geschichte des arabischen Gelehrten Ibn Khallikan dazu überliefert, wie durch ein Missgeschick das Astrolabium erfunden wurde.</p>
	<p>
	
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-astrolabium.jpg" alt="Foto eines Astrolabiums" width="1200" height="798"  loading="lazy" srcset="{{=imgpath}}img/phil-astrolabium-480x319.jpg 480w, {{=imgpath}}img/phil-astrolabium.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Pixabay</figcaption>
		
	</figure>
	<p>
	   Das Astrolabium ist ein astronomisch-astrologisch-mathematisches Mess-, Lehr- und Rechengerät, das bis weit in die Neuzeit – auch in Europa – verbreitet war. Es ähnelt einem zweidimensionalen Modell der dreidimensionalen Himmelskugel und soll wie folgt erfunden worden sein: Ptolemaios, einem berühmten Astrologen und Astronomen aus dem Alexandria des zweiten Jahrhunderts, passierte einmal ein Missgeschick. Während er auf einem Esel ritt, ließ er versehentlich eine Armillarsphäre, eine Art dreidimensionales Modell der Himmelskugel, fallen. Der Legende nach trat der Esel darauf, verwandelte das 3-D- in ein 2-D-Gebilde – und <em>erfand</em> auf diese Weise das Astrolabium.
	</p><p>
	    Zur vormodernen Astronomie und Astrologie in den islamisch geprägten Gesellschaften forscht Petra Schmidl am Internationalen Kolleg für Geisteswissenschaftliche Forschung <a href="https://www.ikgf.fau.de/people/index.shtml/petra-schmidl.shtml">Schicksal, Freiheit und Prognose. Bewältigungsstrategien in Ostasien und Europa</a>.


	</p>
	    
    </div>
</div>