<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Fehler</h2>	
	
	<p class="desc">	        
	   Bei dem Aufruf der Seite kam es zu einem Fehler. (Fehlercode: {{=errornum}}). 
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
	    Hier hat sich leider ein Fehler eingeschlichen. Oder, wie man in Großgründlach sagen würde: <em>Da hauds die Frösch aus’m Weiher naus.</em>	</p>
	<p>
	    Diese Redewendung bezeichnet ein Ereignis, das Erstaunen hervorruft, und ist im Fränkischen Wörterbuch (WBF) zu finden, das die FAU gemeinsam mit der Bayerischen Akademie der Wissenschaft erstellt. 
	    Für das Online-Wörterbuch wird der mundartliche Wortschaft aus den bayerischen Regierungsbezirken Ober-, Mittel- und Unterfranken gesammelt, dokumentiert und beschrieben.</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-wbf.jpg" alt="Symbolbild für das Fränkische Wörterbuch: Ein aufgeschlagenes Buch"width="1200" height="775"  loading="lazy" srcset="{{=imgpath}}img/phil-wbf-480x310.jpg 480w, {{=imgpath}}img/phil-wbf.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Pixabay</figcaption>
		
	</figure>
	<p>
	    Das WBF befindet sich noch im Aufbau, Sie können aber schon selbst einen Blick hineinwerfen: <a href="https://lexhelfer.wbf.badw.de">lexhelfer.wbf.badw.de</a>.
	    An der FAU steht das WBF unter der Leitung von Frau Prof. Dr. Habermann, der Inhaberin des <a href="https://www.germanistik.phil.fau.de/faecher/sprachwissenschaft/lehrstuhl-fuer-germanistische-sprachwissenschaft/">Lehrstuhls für Germanistische Sprachwissenschaft</a>.
	</p>
	    
    </div>
</div>