/***************************************************************************
/* base vars
/ *************************************************************************/

$colormap-zentral: ("basis": #04316A, "basis-kontrast": #fff, "ci-hell": #04316A, "ci-hell-kontrast": #fff);
$colormap-phil: ("basis": #963B2F, "basis-kontrast": #fff, "ci-hell": #FDB735, "ci-hell-kontrast": #000);
$colormap-med: ("basis": #005287,"basis-kontrast": #fff,  "ci-hell": #18B4F1, "ci-hell-kontrast": #000);
$colormap-nat: ("basis": #266141, "basis-kontrast": #fff,  "ci-hell": #7BB725, "ci-hell-kontrast": #000);
$colormap-rw: ("basis": #971B2F, "basis-kontrast": #fff,  "ci-hell": #C50F3C, "ci-hell-kontrast": #fff);
$colormap-tf: ("basis": #2F586E, "basis-kontrast": #fff,  "ci-hell": #8C9FB1, "ci-hell-kontrast": #000);
$colormaps: ("zentral": $colormap-zentral, "phil": $colormap-phil, "med": $colormap-med, "nat": $colormap-nat, "rw": $colormap-rw, "tf": $colormap-tf);
