<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	        
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">
	<p>
	   That is the bad news.
	</p>
	<p>
	    The good news is that researchers at FAU are currently investigating  <a href="https://cris.fau.de/converis/portal/Project/264597809?auxfun=&lang=de_DE">whether and to what extent aluminium accumulates in the body</a> when we eat food wrapped in aluminium packaging.
	</p>
	<figure>
	    <img src="{{=imgpath}}img/med-aluminium.jpg" alt="Symbolbild Alumnium in den Zahlen 404 gestaltet" width="1200" height="711"  loading="lazy" srcset="{{=imgpath}}img/med-aluminium-480x285.jpg 480w, {{=imgpath}}img/med-aluminium.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	    This will allow consumers to make a more informed choice in future. No matter what the research shows, however, using aluminium is not good for your ecological footprint, and you should avoid it wherever possible.  

	</p>
	
	
	    
    </div>
</div>