<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">
	<p>
	    Das ist die schlechte Nachricht.
	</p>
	<p>
	  Und die gute: Wir untersuchen das!
	</p>
	<figure>
	    <img src="{{=imgpath}}img/med-aluminium.jpg" alt="Symbolbild Alumnium in den Zahlen 404 gestaltet" width="1200" height="711"  loading="lazy" srcset="{{=imgpath}}img/med-aluminium-480x285.jpg 480w, {{=imgpath}}img/med-aluminium.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	Forschende der FAU untersuchen gerade, <a href="https://cris.fau.de/converis/portal/Project/264597809?auxfun=&lang=de_DE">ob und in welcher Menge sich Aluminium durch den Verzehr von Lebensmitteln in Aluverpackung im Körper anreichert</a>.
Auf diese Weise können Verbraucherinnen und Verbraucher zukünftig informiertere Entscheidungen treffen. Unabhängig davon: Der Einsatz von Aluminium wirkt sich natürlich nicht günstig auf die persönliche Öko-Bilanz aus, und sollte so gut es geht vermieden werden.  



	</p>
	
	
	    
    </div>
</div>