<div class="fau-fehlermeldung">
    <div class="error  code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    <div class="extra  code{{=errornum}}">
	<p>
Diese Seite ist leider spurlos verschwunden – so spurlos wie in einem schwarzen Loch.
<br>
Das ist die schlechte Nachricht.
	</p><p>
    Und die gute:  Wir sind dran!
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/nat-black-hole.jpg" alt="Schaubild mit einem Größenvergleich von Sonne zu einem kleinen schwarzen Loch und dem Monster Cygnus X-1" width="1040" height="583"  loading="lazy" srcset="{{=imgpath}}img/nat-black-hole-480x269.jpg 480w, {{=imgpath}}img/nat-black-hole.jpg 1040px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: International Centre for Radio Astronomy Research</figcaption>
		
	</figure>
	<p>



	 Ein Team internationaler Astrophysikerinnen und -physiker hat unter Beteiligung der FAU <a href="https://www.fau.de/2021/02/news/wissenschaft/schwarzes-loch-in-der-milchstrasse-massiver-als-angenommen/">neue Erkenntnisse</a> über das wohl bekannteste Schwarze Loch, Cygnus X-1, gewonnen. <br>
	Nun ist sicher: Das Schwarze Loch und sein Begleitstern in der Milchstraße sind um 50 Prozent massereicher als bisher geschätzt – etwa 20 Mal so massereich wie die Sonne!


	</p>

	
	
	    
    </div>
</div>