<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error  code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	         
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra  code{{=errornum}}">

		<p>
The page has vanished without a trace, as if it has been sucked into a black hole.
<br>
That is the bad news.
	</p>
	<figure>
	    <img src="{{=imgpath}}img/nat-black-hole.jpg" alt="Schaubild mit einem Größenvergleich von Sonne zu einem kleinen schwarzen Loch und dem Monster Cygnus X-1" width="1040" height="583"  loading="lazy" srcset="{{=imgpath}}img/nat-black-hole-480x269.jpg 480w, {{=imgpath}}img/nat-black-hole.jpg 1040px"  sizes="(max-width: 480px) 480px, 100vw" >

		 <figcaption>Image: International Centre for Radio Astronomy Research</figcaption>
	</figure>
<p>

	    The good news is that a team of international astrophysicists including scientists from FAU has gained <a href="https://www.fau.de/2021/02/news/wissenschaft/schwarzes-loch-in-der-milchstrasse-massiver-als-angenommen/">new insights</a> into what is probably the most well-known black hole, Cygnus X-1.
We now know: the black hole and its companion star in the Milky Way have roughly fifty percent more mass than previously thought, roughly 20 times as much as the sun!

	</p>
	

	
	
	    
    </div>
</div>