<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra {{=errorcode}}">

	<p>

	Ihre Erwartung wurde leider nicht erfüllt und Sie sind enttäuscht. Was Sie da gerade erleben, ist ein Entzug von Dopamin.
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/phil-dopamin.jpg" alt="Symbolbild mit der chemischen Formel von Dopamin" width="1200" height="899"  loading="lazy" srcset="{{=imgpath}}img/phil-dopamin-480x360.jpg 480w, {{=imgpath}}img/phil-dopamin.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Pixabay</figcaption>
		
	</figure>
	<p>
Dopamin ist ein Botenstoff und wirkt an Prozessen im Gehirn mit, an denen das Belohnungssystem beteiligt ist. Bleibt der Belohnungsreiz aus und das Dopamin fällt ab, empfinden wir das als Enttäuschung.
	</p><p>
	    Mit Neurotransmittern wie Dopamin beschäftigen sich verschiedene Lehrstühle des Instituts für Psychologie der FAU, zum Beispiel das am <a href="http://www.psych2.phil.uni-erlangen.de/">Lehrstuhl für Allgemeine Psychologie</a> angesiedelte Hormonlabor sowie die Juniorprofessur für <a href="https://neurodevpsychology.phil.fau.de/">Neurokognitive Entwicklungspsychologie</a>.


	</p>
	
	
	    
    </div>
</div>