<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	         
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
	    Unfortunately, we could not find the page you were looking for.

That is the bad news.

	</p><p>
	    The good news is that the <a href="https://www.uf.phil.fau.de/">Institute for Prehistory and Protohistory</a> has found quite a lot over the years. Come along and see for yourself, either in person or in a virtual tour of our collection.
	</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-ufg.png" alt="Screenshot der virtuellen Institutstour" width="1200" height="572"  loading="lazy" srcset="{{=imgpath}}img/phil-ufg-480x229.jpg 480w, {{=imgpath}}img/phil-ufg.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Screenshot FG</figcaption>
		
	</figure>

	    
    </div>
</div>
