<div class="fau-fehlermeldung">
    {{showdefaulterror}}    
    <div class="error code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	         
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	
	<p>
	    The page was not found – but many other valuable treasures have been discovered, some of which you can view at <a href="http://www.aeria.phil.uni-erlangen.de/">FAUs Antique and Classical Collection</a>.
	</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-aeria.jpg" alt="Foto aus der Sammlung" width="1024" height="723"  loading="lazy" srcset="{{=imgpath}}img/phil-aeria-480x339.jpg 480w, {{=imgpath}}img/phil-aeria.jpg 1024px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Lion’s head gargoyles with fragments from the cornice from the Treasuries at Olympia, museum (photographer’s studio Alinari, Florence)</figcaption>
		
	</figure>

	    
    </div>
</div>