<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    <div class="extra code{{=errornum}}">

	
	<p>
	    Diese Seite wurde nicht gefunden – verschiedene Schätze aber schon, die Sie zum Beispiel in der <a href="http://www.aeria.phil.uni-erlangen.de/">Antikensammlung der FAU</a> besichtigen können.	</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-aeria.jpg" alt="Foto aus der Sammlung" width="1024" height="723"  loading="lazy" srcset="{{=imgpath}}img/phil-aeria-480x339.jpg 480w, {{=imgpath}}img/phil-aeria.jpg 1024px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: „Löwenkopf-Wasserspeier mit Simabruchstücken von Schatzhäusern, Olympia, Museum (Fotoatelier Alinari, Florenz)</figcaption>
		
	</figure>

	    
    </div>
</div>