<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	         
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra {{=errorcode}}">

	<p>

The page cannot be found.

Your expectations were not met and you are disappointed. What you are currently experiencing is a fall in dopamine levels.
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/phil-dopamin.jpg" alt="Symbolbild mit der chemischen Formel von Dopamin" width="1200" height="899"  loading="lazy" srcset="{{=imgpath}}img/phil-dopamin-480x360.jpg 480w, {{=imgpath}}img/phil-dopamin.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Pixabay</figcaption>
		
	</figure>
	<p>
Dopamine is a messenger substance that has an impact in processes within the brain involving the reward system. If the reward stimulus fails to materialise and dopamine levels fall, that is what we experience as disappointment.	</p>
	<p>
	    Various chairs at the <a href="http://www.psych2.phil.uni-erlangen.de/">Institute of Psychology</a> at FAU are interested in neurotransmitters such as dopamine, for example the hormone laboratory at the Chair for General Psychology.


	</p>
	
	
	    
    </div>
</div>