<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    <div class="extra code{{=errornum}}">

	
	<p>
	    
	    Leider konnten wir diese Seite nicht finden. Das ist die schlechte Nachricht.
	</p><p>
	    Und die gute: Das <a href="https://www.ufg.phil.fau.de/">Institut für Ur- und Frühgeschichte</a> hat im Laufe der Zeit schon einiges gefunden – und das können Sie in unserer Sammlung besichtigen, die auch virtuell zugänglich ist.

	</p>
	
	
	<figure>
	    <img src="{{=imgpath}}img/phil-ufg.png" alt="Screenshot der virtuellen Institutstour" width="1200" height="572"  loading="lazy" srcset="{{=imgpath}}img/phil-ufg-480x229.jpg 480w, {{=imgpath}}img/phil-ufg.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Virtuelle Tour durch das UFG</figcaption>
		
	</figure>

	    
    </div>
</div>