<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    <div class="extra code{{=errornum}}">

	<p>

Das ist die schlechte Nachricht.
	</p>
	<p>
	    Und die gute: Dies ist kein Fall von Cyberkriminalität!
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/rw-cybercrime.jpg" alt="" width="1200" height="853"  loading="lazy" srcset="{{=imgpath}}img/rw-cybercrime-480x320.jpg 480w, {{=imgpath}}img/rw-cybercrime.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Foto: Macedo_Media auf Pixabay</figcaption>
		
	</figure>
	<p>
	    Übrigens wird an der FAU im Rahmen des Forschungsprojekts <a href="https://cris.fau.de/converis/portal/Project/230086317;jsessionid=3541331f4be16da4cf8779d068ff?lang=de_DE">Cyberkriminalität und forensische Informatik</a> gerade daran gearbeitet, die Strafverfolgung von Cyberkriminalität systematisch zu erschließen.
Dabei stellen sich nämlich Fragen sowohl des Rechts als auch der Informatik – weshalb das Projekt auch Wissenschaftlerinnen und Wissenschaftler der Rechtswissenschaften und der Informatik zusammenbringt.

	</p>
	
	
	    
    </div>
</div>