<div class="fau-fehlermeldung">
   {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	
	<h2>Page not found</h2>	
	
	<p class="desc">	            
	The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	<p>
 
The page cannot be found. That is the bad news.
	</p>
	<p>
	  The good news is, it is not due to cybercrime.
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/rw-cybercrime.jpg" alt="" width="1200" height="853"  loading="lazy" srcset="{{=imgpath}}img/rw-cybercrime-480x320.jpg 480w, {{=imgpath}}img/rw-cybercrime.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Macedo_Media on Pixabay</figcaption>
		
	</figure>
	<p>
At FAU, the research project <a href="https://cris.fau.de/converis/portal/Project/230086317;jsessionid=3541331f4be16da4cf8779d068ff?lang=de_DE">Cybercrime and forensic computing</a> is currently working on systematically investigating the criminal prosecution of cybercrime.
As it is a complex area covering two main areas of expertise, the project brings together legal scholars and computer science experts.

	</p>
	
	
	    
    </div>
</div>