<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Page not found</h2>	
	
	<p class="desc">	            
	The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	<p>
	    The page cannot be found.

	    That is the bad news.
	</p>
	<p>
	    
	     Researchers at FAU are now able to <a href="https://www.fau.de/2021/05/news/wissenschaft/einblicke-in-die-black-box-der-kuenstlichen-intelligenz/">give insights</a> into the black box of artificial intelligence, for example as used by online retailers.
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/tf-black-box.jpg" alt="" width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/tf-black-box-480x360.jpg 480w, {{=imgpath}}img/tf-black-box.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	   
	    Online retailers often work with self-learning algorithms, but until now it was not known how exactly they work. Scientists, including researchers from FAU, have now succeeded in shedding light on these processes.

	</p>
	
	
	    
    </div>
</div>