<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	<p>
   Die Seite wurde nicht gefunden.
   
Das ist die schlechte Nachricht.
	</p>
	<p>
	    Und die gute: Forschende der FAU könne mittlerweile <a href="https://www.fau.de/2021/05/news/wissenschaft/einblicke-in-die-black-box-der-kuenstlichen-intelligenz/">Einblicke in die Black Box der Künstlichen Intelligenz</a> von z.B. Online-Händlern geben.
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/tf-black-box.jpg" alt="" width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/tf-black-box-480x360.jpg 480w, {{=imgpath}}img/tf-black-box.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Foto: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	 Diese arbeiten oft mit selbstlernenden Algorithmen, deren genaue Funktionsweise allerdings lange nicht bekannt war. Durch den wissenschaftlichen Einsatz, unter anderem der FAU, können diese Prozesse nun sichtbar gemacht werden.

	</p>
	
	
	    
    </div>
</div>