<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Page not found</h2>	
	
	<p class="desc">	        
	    The page cannot be found.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	<p>
   That is the bad news.
	</p>
	<p>
	The good news is, failure is an interesting phenomenon.
	</p>
	<figure>
	    <img src="{{=imgpath}}img/zentral-failure.jpg" alt="" width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/zentral-failure-480x360.jpg 480w, {{=imgpath}}img/zentral-failure.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Image: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	    Researchers at FAU are <a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=96418">currently investigating</a> how to deal productively with failure in science and what the topic of obvious or apparent failure has to do with the processual nature of science.


	</p>
	
	
	    
    </div>
</div>