<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">
	<h2>Seite nicht gefunden</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, aber die von Ihnen gesuchte Seite konnte nicht gefunden werden.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">

	<p>

Das ist die schlechte Nachricht.
	</p>
	<p>
	  Und die gute:  Scheitern ist tatsächlich ein interessantes Phänomen.
	</p>
	<figure>
	    <img src="{{=imgpath}}img/zentral-failure.jpg" alt="" width="1200" height="900"  loading="lazy" srcset="{{=imgpath}}img/zentral-failure-480x360.jpg 480w, {{=imgpath}}img/zentral-failure.jpg 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Bild: Elisabeth Kolb</figcaption>
		
	</figure>
	<p>
	   
	    Forschende der FAU <a href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=96418">untersuchen gerade, wie ein produktiver Umgang mit dem Thema Scheitern in der Wissenschaft glücken kann</a>  – und was das Thema des offenkundigen oder auch nur scheinbaren Misslingens mit dem Prozesscharakter von Wissenschaft zu tun hat.


	</p>
	
	
	    
    </div>
</div>