<div class="fau-fehlermeldung">
    {{showdefaulterror}}
    <div class="error code{{=errornum}}">	
	<h2>Access denied</h2>	
	
	<p class="desc">	        
	We are sorry, but access has been denied.
	</p>
    </div>
    {{/showdefaulterror}}
    <div class="extra code{{=errornum}}">
	<p>
But don’t worry, it hasn’t been censured: At FAU, academic freedom is our topmost priority. As the Academic Freedom Index shows, that is not the case everywhere in the world. We draw up the index every year in collaboration with the V-Dem Institute at the University of Gothenburg.  	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/rw-freedom.png" alt="" width="1200" height="544" loading="lazy" srcset="{{=imgpath}}img/rw-freedom-480x218.jpg 480w, {{=imgpath}}img/rw-freedom.png 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Academic Freedom Index 2020: V-Dem Daten v11. Visualisation of AFi status groups of researchers by FAU GPPi.</figcaption>	
	</figure>
	
	<p>
	The current report for 2021, involving Prof. Dr. Katrin Kinzelbach from the Institute of Political Science, is available to download at  <a  hreflang="en" lang="en" href="https://www.gppi.net/media/KinzelbachEtAl_2021_Free_Universities_AFi-2020.pdf">Free Universities: Putting the Academic Freedom Index Into Action (PDF)</a>.
	</p>
	

	    
    </div>
</div>


