<div class="fau-fehlermeldung">
    <div class="error code{{=errornum}}">
	
	<h2>Zugriff verweigert</h2>	
	
	<p class="desc">	        
	    Es tut uns leid, der Zugriff wurde verweigert.
	</p>
    </div>
    <div class="extra code{{=errornum}}">
	<p>
	Trotzdem wurde hier nichts zensiert – an der FAU ist die Wissenschaftsfreiheit oberstes Gebot. Das ist nicht überall auf der Welt so, wie der Academic Freedom Index zeigt. Wir erstellen ihn jedes Jahr in Zusammenarbeit mit dem V-Dem Institut an der Universität Göteborg.  
	</p>
	
	<figure>
	    <img src="{{=imgpath}}img/rw-freedom.png" alt="Abbildung des Global Level of Academic Freedom 2020" width="1200" height="544" loading="lazy" srcset="{{=imgpath}}img/rw-freedom-480x218.jpg 480w, {{=imgpath}}img/rw-freedom.png 1200px"  sizes="(max-width: 480px) 480px, 100vw" >
	    <figcaption>Academic Freedom Index 2020: V-Dem Daten v11. Visualisierung mit AFi-Statusgruppen von Forschenden der FAU/GPPi.</figcaption>	
	</figure>
	
	<p>
	    Den aktuellen Report 2021, an dem Prof. Dr. Katrin Kinzelbach vom Institut für Politikwissenschaft beteiligt ist, finden Sie zum Download unter Free Universities:  <a  hreflang="en" lang="en" href="https://www.gppi.net/media/KinzelbachEtAl_2021_Free_Universities_AFi-2020.pdf">Putting the Academic Freedom Index Into Action (PDF)</a>.
	</p>
	

	    
    </div>
</div>


